<head>
<link rel="stylesheet" href="./assets/css/style.css" />
</head>

<h1 style="color: blue; font-size: 100px;">RUN BUDDY</h1>

<head>
    <meta charset="UTF-8" />
    <title>RUN BUDDY</title>

    <style>
        body {
            background-color: tomato;
        }h1 {
            fontsize: 100px;
        } </style>
</head>
        


